<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello world</h1><img src="/doge.gif"/>
    <form action="/" method="get">
        <input name="author" placeholder="作者">
        <br>
        <textarea name="message"></textarea>
        <button type="submit">GET提交表单</button>
    </form>
    <form action="/" method="post">
        <input name="author" placeholder="作者">
        <br>
        <textarea name="message"></textarea>
        <button type="submit">POST提交表单</button>
    </form>
</body>
</html>